@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "tailwindcss";

* {
  font-family: "Sen", sans-serif;
}
/* 
css inicial do curso > foi add tailwhinds
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F4FBFF;  
  height: 100vh;
}

.content {
  flex: 1;
} */
